# Created by .ignore support plugin (hsz.mobi)
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/MyNotes.iml
.idea/codeStyles/
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
